form {
    display: block;
    flex-direction: column;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.oui {
    background-color: rgb(183, 182, 182);
    width: 300px;
    padding: 10px;
    font-size: 150%;
    flex : auto;
}
